.card{
    margin: 2em;
}

h1 {
    padding: 15px;
    padding-top: 25px;
}

p {
    padding: 15px;
}

hr {
    width: 90%;
}

form {
    padding-left: 15px;
    padding-bottom: 10px;
}

div.pad {
    padding-left: 150%;
}